<ion-header>
  <ion-toolbar>
    <ion-title>  List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-list>
    <ion-item *ngFor="let data of productlist" lines="full">
      <ion-label>
        <p>{{data.ProductName}}</p>
        <p>{{data.description}}</p>
        <p>{{data.weight}}</p>
        <p>{{data.measure}}</p>
        <p>{{data.defaultRate}}</p>
      </ion-label>

      <div item-end>
        <button [routerLink]="['update/', data.id]">
          <ion-icon name="create" style="zoom:1.5"></ion-icon>
        </button>
        <button (click)="remove(data.id)">
          <ion-icon name="trash" style="zoom:1.5"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list> -->


<!-- 
<ion-grid>
  <ion-list>
  <ion-item *ngFor="let data of productlist" lines="full">
  <ion-col size="12">
  <ion-label>
    <h2>ProductName</h2>
    <h2>description</h2>
    <h2>weight</h2>
    <h2>measure</h2>
    <h2>defaultRate</h2>
  </ion-label>
  <ion-label> 
    <p>{{data.ProductName}}</p>
    <p>{{data.description}}</p>
    <p>{{data.weight}}</p>
    <p>{{data.measure}}</p>
    <p>{{data.defaultRate}}</p>
  </ion-label>
  </ion-col>
  <ion-col size="4">

    <div item-end>
      <button [routerLink]="['update/', data.id]">
        <ion-icon name="create" style="zoom:1.5"></ion-icon>
      </button>
      <button (click)="remove(data.id)">
        <ion-icon name="trash" style="zoom:1.5"></ion-icon>
      </button>
    </div>
  </ion-col>
  </ion-item>
  </ion-list>
</ion-grid> -->

<ion-list>
  <ion-item *ngFor="let data of productlist" lines="full">
    <ion-label>
        <h2>ProductName</h2>
        <h2>description</h2>
      </ion-label>
      <ion-label>
        <p>{{data.ProductName}}</p>
        <p>{{data.description}}</p>
      </ion-label>
      <div item-end>
        <button [routerLink]="['update/', data.id]">
          <ion-icon name="create" style="zoom:1.5"></ion-icon>
        </button>
        <button (click)="remove(data.id)">
          <ion-icon name="trash" style="zoom:1.5"></ion-icon>
        </button>
      </div>
</ion-item>
</ion-list>
</ion-content>