<ion-header>
  <ion-toolbar>
    <ion-title>  List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>
  <ion-item *ngFor="let data of stocklist" lines="full">
    <ion-label>
        <h2>purchaseid</h2>
        <h2>qty</h2>
        <h2>marginRate</h2>
        <h2>saleRate</h2>
      </ion-label>
      <ion-label>
        <p>{{data.purchaseid}}</p>
        <p>{{data.qty}}</p>
        <p>{{data.marginRate}}</p>
        <p>{{data.saleRate}}</p>
      </ion-label>
      <div item-end>
        <button [routerLink]="['update/', data.id]">
          <ion-icon name="create" style="zoom:1.5"></ion-icon>
        </button>
        <button (click)="remove(data.id)">
          <ion-icon name="trash" style="zoom:1.5"></ion-icon>
        </button>
      </div>
</ion-item>
</ion-list>
</ion-content>