<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <ion-text color="medium">
    <p class="ion-text-center">Please provide your login credenitial</p>
  </ion-text>

  <form action="" class='forms'>

    <ion-label>Mobile number</ion-label>
    <ion-item color="light" class="ion-margin-top ion-margin-bottom">
      <ion-input value="+91" slot="start"> </ion-input>
      <ion-input placeholder="| Enter" slot="start"></ion-input>
    </ion-item>


    <ion-label>Password</ion-label>
    <ion-item color="light" class="ion-margin-top">
      <ion-input type="text" placeholder="Enter"></ion-input>
    </ion-item>
    <ion-text color="medium" >
      <p class="ion-text-end" style="text-decoration: underline;">Forgetpassword?</p>
    </ion-text>


  </form>
</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar class="center">
    <ion-button shape="round">login</ion-button>

    <ion-text color="medium">
      <p class="ion-text-center">Don't have an account? <span style="text-decoration: underline;">signup now?</span></p>
    </ion-text>

  </ion-toolbar>
</ion-footer>