<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Products</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>

    <!-- search bar -->
    <ion-row>
      <ion-col size="9">
        <ion-toolbar>
          <ion-searchbar placeholder="Search products "></ion-searchbar>
        </ion-toolbar>
      </ion-col>
      <ion-col size="3">
        <button class="btn ion-margin-top" (click)="showPicker()">Filter by</button>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- category -->

  <ion-row class="ion-justify-content-between">
    <ion-col size="3">
      <div>
        <p class="ion-margin-start">category</p>
      </div>
    </ion-col>
    <ion-col size="3">
      <div>
   
        <p>
          <ion-icon name="chevron-forward-circle" class="ion-float-right "></ion-icon>
        </p>

      </div>
    </ion-col>
  </ion-row>
  <!-- ion-chips -->

  <div class="ion-padding-horizontal">
    <ion-chip style="background: #c3c3d5;">
      <ion-label color="primary">All</ion-label>
    </ion-chip>
    <ion-chip style="background: #fff; color: #6f707d;">
      <ion-label>Dairy Products</ion-label>
    </ion-chip>
    <ion-chip style="background: #fff; color: #6f707d;">
      <ion-label>Fruits</ion-label>
    </ion-chip>
    <!-- <ion-chip style="background: #fff; color: #6f707d;">
          <ion-label>Hand-picked</ion-label>
        </ion-chip> -->
    <!-- <ion-chip style="background: #fff; color: #6f707d;">
          <ion-label>Others</ion-label>
        </ion-chip> -->
  </div>
  
  
  <div *ngFor="let data of productlist">
    
  <h2 class="ion-margin-start">{{data.ProductName}}</h2>
      <ion-card>
        <ion-card-content  class="ion-no-padding">
          <ion-list lines="none">
            <ion-item>
              <img src="/assets/img5.jpg" alt="" slot="start">
  
              <ion-label>
                <h4>product:(prod id)</h4>
                <p>Brand name & category</p>
                <ion-row>
                  <ion-col size="6"  style="  border-right: 2px solid #c7c7dc;">
                    <h3>0</h3>
                    <p>reamining</p>
                  </ion-col>
                  <ion-col size="6">
                    <h3>0</h3>
                    <p>total</p>
                  </ion-col>
                </ion-row>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-card >
        <ion-card-content  class="ion-no-padding">
          <ion-list lines="none">
            <ion-item >
              <img src="/assets/img5.jpg" alt="" slot="start">
  
              <ion-label>
                <h4>product:(prod id)</h4>
                <p>Brand name & category</p>
                <ion-row>
                  <ion-col size="6">
                    <h3>0</h3>
                    <p>reamining</p>
                  </ion-col>
                  <ion-col size="6">
                    <h3>0</h3>
                    <p>total</p>
                  </ion-col>
                </ion-row>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>



    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="primary">
        <ion-icon name="add" color="light"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="light">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon name="logo-vimeo"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon name="logo-google"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>  



 